# Mac
.DS_Store
Thumbs.db
.vscode

# Zig
zig-cache/
zig-out/
build/
/docgen_tmp/

# C
*.o

# JS
coverage/
node_modules/
dist/
*package-lock.json
*npm-debug.log
.eslintcache
.tsbuildinfo
.parcel-cache/

# Project
.cache
src/examples/c/example
logs/
release/
