# Windows
* text=auto
*.zig text=auto eol=lf
*.zon text=auto eol=lf

# GitHub
src/data/* linguist-generated=true
src/lib/gen1/data/* linguist-generated=true
src/lib/gen2/data/* linguist-generated=true
src/lib/gen2/generated.zig linguist-generated=true
src/pkg/data/* linguist-generated=true
src/pkg/data/mapping.json linguist-generated=false
