<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://pokemonshowdown.com/favicon.ico">
    <title>Pokémon Showdown</title>
    <script type="text/plain" class="battle-log-data">{{{ output }}}</script>
    <script src="https://play.pokemonshowdown.com/js/replay-embed.js"></script>
  </head>
  <body>
    <div id="content">
      {{{ seed }}}
      <div class="wrapper replay-wrapper" style="max-width:1180px;margin:0 auto">
        <div class="battle"></div>
        <div class="battle-log"></div>
        <div class="replay-controls"></div>
        <div class="replay-controls-2"></div>
      </div>
      <div class="logs">{{{ content }}}</div>
    </div>
    <style>
      body {
        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }
      #content {
      margin: 4em auto;
        max-width: 1300px;
      }
      h1, summary, .replay-controls  {
        text-align: center !important;
        line-height: 1.4em;
      }
      .sides {
        display: flex;
      }
      .side {
        flex: 1;
        display: flex;
        flex-flow: column;
      }
      .debug-log {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 400px;
        line-height: 1.4em;
      }
      .input-log {
        max-width: 100px;
      }
      .replay-wrapper {
        padding-top: 440px !important;
      }
      .replay-controls {
        top: 389px;
      }
      .logs .log {
        display: flex;
        justify-content: center;
        padding-bottom: 2em;
      }
      .logs .log pre {
        max-width: 360px;
      }
      .logs code {
        all: revert;
        line-height: 1.4em;
      }
      .logs .error {
        padding: 10px 20px;
      }
      .seed {
        text-align: center;
        font-weight: bold;
      }
      button.startsoundchooser, .replay-controls-2 {
        display: none !important;
      }
      code.debug {
        color: grey;
      }
      code.debug.rng {
        color: fuchsia;
      }
    </style>
    <script>
      window.addEventListener('load', () => { BattleSound.muted  = true; });
    </script>
  </body>
</html>